page-about {

    ion-icon{
        size: 200px;
    }

    #uber{
        float: left;
        width: 70%;
        background-color: black;
    }

    .botao-de-ligar{
        width: 70% !important;
    }
    
    .botao-de-ligar-samu{
        width: 100% !important;
    }

}
