ion-title{
    text-align: left;
    width: 90%;
}

.logo{
    img {
        width: 45px;
        height: 40px;
    }
}

button{
    border-radius: 10px!important;
}

a{
    border-radius: 10px!important;
}

